<h1>Developers interested in world domination:</h1>

<table>
  <tbody>
    <% @developers.each do |developer| %>
    <tr>
      <td><%= developer.email %></td>
      <td><%= developer.hours_worked %></td>
      <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
      <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>



<%= link_to 'Go to the Project home page', projects_path %>
<%= link_to 'View all timesheets', time_entries_path %>
<%= link_to 'Create a new developer', new_developer_path %>
