<h1>All the projects worth considering:</h1>
<h3>Project List & Max Hours Alloted</h3>

<table>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.max_hours %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Add New Project', new_project_path %></p>
<p><%= link_to 'View all timesheets', time_entries_path %></p>
<p><%= link_to 'Create a new developer', new_developer_path %></p>
